.approval-container {
    width: 90%;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 90vh;
    margin: 0;
    background-clip: padding-box;
    border-radius: 0.3rem;

    .approval-body {

        .approval-summary {
            border: 1.2px solid #eeeeee;
            margin-bottom: 50px;
            width: 80vh;
            height: 50vh;
            border-radius: 25px;

            @keyframes fadeInAndScale {
                0% {
                    opacity: 0;
                    transform: translateY(-20px) scale(0.8);
                }

                50% {
                    opacity: 0.5;
                    transform: translateY(0) scale(1.2);
                }

                100% {
                    opacity: 1;
                    transform: translateY(0) scale(1);
                }
            }

            .image-container {
                display: flex;
                justify-content: center;
                align-items: center;
                // animation: fadeInAndScale 0.5s ease-in-out;
            //    height: 100px;
            }

            img {
                width: 100px;
                height: 100px;
                margin-top: 0;
            }

            .header {
                text-align: center;
                margin-top: 0;
                font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
                font-size: 25px;
                color: #17a2b8;
                animation: fadeInAndScale 0.5s ease-in-out;
            }

            .content {
                text-align: center;
            }

            .booking-number {
                font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
                font-size: 16px;
                font-weight: 100;

                .booking-id {
                    padding-left: 5px;
                    font-weight: 500;
                    // font-style: italic;
                    color: #17a2b8;
                }
            }

            .queries {
                font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
                font-size: 20px;
                font-weight: bold;
                color: #17a2b8;
            }

            .contact {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: -20px;
                // margin-right: 20px;
            }

            .phone {
                margin-left: 10px;
                font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

            }

            .email {
                font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
            }

            .icon-phone {
                margin-right: 5px;
                color: #17a2b8;
            }

            .icon-email {
                margin-right: 5px;
                margin-left: 20px;
                color: #17a2b8;
            }
        }

    }
}