.approval_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    color: #0f2454;
    &_section{
        display: flex;
        justify-content: center;
        align-items: center;
        &_summary{
            text-align: center;
            border: 1px solid #bfbfbf;
            border-radius: 10px;
            width: 70%;
            .image_container{
                img{
                    width: 15%;
                }
            }
            .header{
                font-size: 22px;
                margin-top: -8px;
                color: #0f7bab;
                font-weight: 600;
            }
            & .content{
                .booking_number{
                    .bookingId{
                        color: #0f7bab;
                    }
                }
                .queries,.icon-phone,.icon-email{
                color: #0f7bab;
            }
        }
    }
}
}