.form-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3vw;
  border-radius: 10px;
  font-family: inherit;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  .form_heading {
    color: #0f7bab;
    text-align: center;
  }
  .otp {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    svg {
      position: absolute;
      top: 8px;
      right: 50%;
      width: 20px;
    }
  }
  
form {
    font-size: 12px;
    padding: 15px;
    border-radius: 10px;
    width: auto;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  input[type="text"],
  input[type="number"] {
    box-sizing: border-box;
    width: 17rem;
    height: calc(2em + 7px);
    margin: 0 0 1em;
    border: 1px solid #bababa;
    border-radius: 3px;
    background: #fff;
    font-size: 14px;
    resize: none;
    outline: none;
    color: #292929;
  }
  input[type="password"] {
    width: 9rem;
    height: calc(2em + 5px);
    margin: 0 0 1em;
    border: 1px solid #bababa;
    border-radius: 3px;
    background: #fff;
    font-size: 14px;
    resize: none;
    outline: none;
    color: #292929;
  }
  
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus {
    border-color: #00bafa;
  }
  
  input[type="text"]:focus + label[placeholder]:before,
  input[type="number"]:focus + label[placeholder]:before,
  input[type="password"]:focus + label[placeholder]:before {
    color: #0091da;
  }
  
  input[type="text"]:focus + label[placeholder]:before,
  input[type="text"]:valid + label[placeholder]:before,
  input[type="number"]:focus + label[placeholder]:before,
  input[type="number"]:valid + label[placeholder]:before,
  input[type="password"]:focus + label[placeholder]:before,
  input[type="password"]:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -1.6em) scale(0.9, 0.9);
  }
  
  input[type="text"] + label[placeholder],
  input[type="number"] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
  }
  input[type="password"] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1.25em;
    margin-top: calc(-1em + 2px);
    margin-bottom: calc((1em - 1em) + 2px);
  }
  
  input[type="text"] + label[placeholder]:before,
  input[type="number"] + label[placeholder]:before{
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(0.5em + 2px);
    padding: 0 2px;
    color: #7d7d7d;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
  input[type="password"] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(-14em + 18px);
    padding: 0 2px;
    color: #7d7d7d;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input[type="password"]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
  }
  
  .sent-message {
    display: flex;
    justify-content: center;
    color: green;
  }
  
  .tickmark {
    position: relative;
  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  .send-otp{
    background-color: #17a2b8;
    border: none;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    float: right;
    margin-bottom: 0.6em;
    margin-top: -10px;
  }
  .verify-otp {
    background-color: #17a2b8;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    
  }
  
  .book-now {
    background-color: #17a2b8;
    border: none;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    float: left;
  }
  
  .clear-all {
    background-color: #17a2b8;
    border: none;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    float: right;
  }
  
  .resend-otp {
    background-color: #ffffff;
    border: none;
    padding: 8px 32px;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    margin-top: -10px;
  
    .resend-link {
      background-color: #ffffff;
      border: none;
      color: #17a2b8;
      text-decoration: underline;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      margin-top: -10px;
    }
  }
  
  .timer-custom {
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
  
    .min-sec {
      color: #17a2b8;
      text-decoration: underline;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
  }
  
  /* next button */
  .cssbuttons-io-button {
    background: #17a2b8;
    color: white;
    font-family: inherit;
    padding-left: 2em;
    padding-right: 0;
    font-size: 14px;
    font-weight: 500;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.5em;
    padding-right: 2em;
    float: right;
    cursor: pointer;
  }
  
  .terms-container {
    display: flex;
    font-size: 14px;
  }
  
  .conditions {
    color: #17a2b8;
    text-decoration: underline;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  
}