.booking {
  &_container {
    &_banner {
      height: 60vh;
      background: url(../../assets/images/busBackground.jpg) no-repeat;
      background-position: bottom 53% right !important;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: 6vw;
        -webkit-text-stroke: 0.5px #fff;
        background: -webkit-linear-gradient(#0f7bab 40%, #0f2454);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h3 {
        margin-top: -4.5vw;
        font-size: 2.3vw;
        color: #689ea1;
      }
      ul {
        margin-top: -2vw;
        list-style: none;
        display: flex;
        color: #fff;
        padding-inline-start: 0px;
        align-items: center;
        li {
          margin-left: 10px;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
    &_busDetails {
      margin-top: 4vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .header_content {
        margin-top: -1.5vw;
        color: #0f7bab;
        background: -webkit-linear-gradient(#0f7bab 40%, #0f2454);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
      }
      .content {
        margin-top: -1vw;
        text-align: center;
        width: 80%;
        color: gray;
        margin-bottom: 6vw;
        p {
          text-align: center;
        }
      }
      &_section {
        width: 95%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;

        .buses {
          width: 30%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 18px 0px 10px;
          border-radius: 10px;
          margin-bottom: 4vw;
          background-color: #fff;

          img {
            width: 90%;
            border-radius: 10px;
          }

          .busOne_details {
            text-align: initial;
            line-height: 2.5;
            width: 90%;
            h2 {
              color: rgb(155, 148, 148);
              margin-bottom: -5%;
              margin-top: -0.5%;
            }
            p {
              margin-bottom: -1.5vw;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #0f2454;
              font-weight: 600;
              font-size: 15px;
            }

            a {
              text-decoration: none;
              button {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .howitworks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8vw;
    margin-top: 5vw;
    &_header {
      text-align: center;
      h2 {
        color: #0f7bab;
        background: -webkit-linear-gradient(#0f7bab 40%, #0f2454);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h1 {
        color: #0f2454;
      }
    }
    &_cards {
      margin-top: 6vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 95%;
      position: relative;
      text-align: center;
      h3 {
        color: #0f2454;
      }
      &_one {
        width: 20%;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.1);
        p {
          text-align: center;
          color: gray;
        }
      }
      &_two {
        width: 20%;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.1);
        p {
          text-align: center;
          color: gray;
        }
      }
      &_three {
        width: 20%;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.1);
        p {
          text-align: center;
          color: gray;
        }
      }
      &_four {
        width: 20%;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.1);
        p {
          text-align: center;
          color: gray;
        }
      }
    }
  }
}
.curvedimg {
  width: -webkit-fill-available;
}
.curvedimgsection {
  display: flex;
  justify-content: center;
  align-items: start;
  background: #e1f0ee;
  margin-top: -1vw;
}
/* CSS */
.button-53 {
  margin-top: 3vw;
  background: -webkit-linear-gradient(#0f7bab 20%, #0f2454);
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}
.css-1hv8oq8-MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  background: -webkit-linear-gradient(#0f7bab 40%, #0f2454) !important;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent !important;
}
@media only screen and (max-width: 480px) {
  .booking {
    &_container {
      &_banner {
        height: 40vh;
        background-position: bottom 60% right !important;
        h1 {
          font-size: 10vw;
          -webkit-text-stroke: 0.4px #fff;
        }
        h3 {
          margin-top: -8vw;
          font-size: 4vw;
        }
        li {
          font-size: 12px;
        }
      }
      &_busDetails {
        margin-top: 2vw;
        font-size: 14px;
        .header_content {
          margin-top: -2.5vw;
          font-size: 25px;
        }
        .content {
          margin-top: -2vw;
          width: 95%;
        }
        &_section {
          width: 100%;
          flex-direction: column;
          padding-top: 5vw;

          .buses {
            width: 80%;
            padding: 12px 0px;
            margin-bottom: 10vw;
            .busOne_img {
              width: 90%;
              img {
                width: 95%;
                border-radius: 10px;
              }
            }
            .busOne_details {
              p {
                margin: 0vw;
              }
              h2 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .howitworks {
      &_header {
        h1 {
          font-size: 22px;
        }
      }
      &_cards {
        margin-top: 3vw;
        flex-direction: column;

        &_one {
          width: 70%;
          margin-bottom: 5vw;
        }
        &_two {
          width: 70%;
          margin-bottom: 5vw;
        }
        &_three {
          width: 70%;
          margin-bottom: 5vw;
        }
        &_four {
          width: 70%;
          margin-bottom: 5vw;
        }
      }
    }
  }
  .button-53 {
    margin-top: 5vw;
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
  .curvedimgsection {
    margin-top: -1vw;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    .filterAlign {
      margin-right: 10%;
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .booking {
    &_container {
      &_banner {
        height: 50vh;
        background-position: bottom 55% right !important;

        h1 {
          font-size: 10vw;
        }
        h3 {
          margin-top: -8vw;
          font-size: 4vw;
        }
      }
      &_busDetails {
        margin-top: 2vw;
        font-size: 14px;
        .header_content {
          margin-top: -2.5vw;
          font-size: 25px;
        }
        .content {
          margin-top: -2vw;
          width: 95%;
        }
        &_section {
          width: 95%;
          flex-direction: column;
          padding-top: 5vw;
          .buses {
            width: 70%;
            padding: 12px 0px;
            margin-bottom: 10vw;
            .busOne_img {
              width: 95%;
              img {
                width: 100%;
                border-radius: 10px;
              }
            }
            .busOne_details {
              p {
                margin: 0vw;
              }
              h2 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
    .howitworks {
      &_header {
        h1 {
          font-size: 22px;
        }
      }
      &_cards {
        margin-top: 3vw;
        flex-direction: column;

        &_one {
          width: 60%;
          margin-bottom: 5vw;
        }
        &_two {
          width: 60%;
          margin-bottom: 5vw;
        }
        &_four {
          width: 60%;
          margin-bottom: 5vw;
        }
        &_three {
          width: 60%;
          margin-bottom: 5vw;
        }
      }
    }
  }
  .button-53 {
    margin-top: 5vw;
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
  .curvedimgsection {
    margin-top: -1vw;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    .filterAlign {
      margin-right: 15%;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .booking {
    &_container {
      &_banner {
        background-position: bottom 56% right !important;

        h1 {
          font-size: 8vw;
        }
        h3 {
          margin-top: -3vw;
          font-size: 3.3vw;
        }
      }
      &_busDetails {
        .content {
          width: 90%;
        }
        &_section {
          width: 98%;
          .buses {
            width: 31%;
            .busOne_img {
              img {
                width: 95%;
              }
            }
            .busOne_details {
              h2 {
                font-size: 20px;
              }
              p {
                margin-bottom: -2vw;
              }
            }
          }
        }
      }
    }
    .howitworks {
      &_cards {
        margin-top: 4vw;
        width: 100%;
        &_one {
          width: 20%;
          padding: 15px;
          h3 {
            font-size: 14px;
          }
          p {
            font-size: 14px;
          }
        }
        &_two {
          width: 20%;
          padding: 15px;

          h3 {
            font-size: 14px;
          }
          p {
            font-size: 14px;
          }
        }
        &_three {
          width: 20%;
          padding: 20px;

          h3 {
            font-size: 14px;
          }
          p {
            font-size: 14px;
          }
        }
        &_four {
          width: 20%;
          padding: 15px;

          h3 {
            font-size: 14px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  .button-53 {
    margin-top: 5vw;
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
}
