.warning-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0px);
    z-index: 1000;

    .warning-container-center {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70%;

        .warning-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            max-width: 450px;

            .warning-body {
                margin-top: 10px;
                text-align: center;

                .warning-icon {
                    color: #0f7bab;
                    text-align: center;
                    font-size: 50px;
                }

                .warning-message-container {
                    text-align: center;
                    line-height: 180%;

                    .warning-message {
                        font-size: large;
                        font-family: "Times New Roman", Times, serif;
                        font-weight: 500;
                    }
                }

                .warning-button-container {
                    .okay-button {
                        background-color: #0f7bab;
                        color: #fff;
                        border: 0px solid #0f7bab;
                        width: 90px;
                        height: 38px;
                        border-radius: 5px;
                        font-style: initial;
                        font-size: large;
                        font-weight: 380;
                    }
                }
            }
        }
    }
}