.calendar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .from-to-date {
    display: flex;
    align-items: center;

    .date-picker {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;

      .start-date {
        width: 80%;
        height: 35px;
      }

      .end-date {
        width: 80%;
        height: 35px;
      }

      .react-datepicker-wrapper {
        width: 100%;

      }

      .react-datepicker__input-container input::placeholder {
        color: #757575;
      }

      .react-datepicker__input-container input {
        border: 1px solid #ced4da;
        border-radius: 6px;
        text-align: center;
        height: calc(1.3em + 0.75rem + 2px);
        font-size: 1rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
      }

      .react-datepicker__input-container input:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
      }

      .react-datepicker__header {
        background-color: #eee;
        color: #ffffff;
      }

      .react-datepicker__day--selected {
        background-color: rgb(15, 123, 171);
        color: #ffffff;
      }

    }
  }

  svg:not(:root).svg-inline--fa {
    position: absolute;
    top: 30%;
    right: 2vw;
  }

  button {
    background-color: #eee;
    color: black;
    font-weight: 500;
    font-size: medium;
    padding: 9px 22px 9px 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0px;
    text-align: center;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
}