.filter_overlay {
  display: none;
}
.filter_container {
  border: 1px solid #d5d7df;
  background-color: #fff;
  margin-left: 5px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);

  &_section {
    &_heading {
      border-bottom: 1px solid #f0f0f0;
      padding: 1vw 10vw 1vw 1vw;

      span {
        display: flex;
        align-items: center;
        color: #0f7bab;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
      .fa-xmark {
        display: none;
      }
    }

    form {
      .form_content {
        label{
          color: #0f2454;
        }
        &_ac_section {
          padding: 1vw;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 80%;
            height: 2px;
            background: rgb(249, 250, 251);
            background: -moz-linear-gradient(
              left,
              rgba(249, 250, 251, 1) 0%,
              rgba(213, 215, 223, 1) 50%,
              rgba(249, 250, 251, 1) 100%
            );
            background: -webkit-linear-gradient(
              left,
              rgba(249, 250, 251, 1) 0%,
              rgba(213, 215, 223, 1) 50%,
              rgba(249, 250, 251, 1) 100%
            );
            background: linear-gradient(
              to right,
              rgba(249, 250, 251, 1) 0%,
              rgba(213, 215, 223, 1) 50%,
              rgba(249, 250, 251, 1) 100%
            );
          }

          p {
            margin-top: 0;
            font-size: 16px;
            font-weight: 600;
            color: #0f2454;
          }

        }

        &_sleeper_section {
          position: relative;
          padding: 1vw;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 80%;
            height: 2px;
            background: rgb(249, 250, 251);
            background: -moz-linear-gradient(
              left,
              rgba(249, 250, 251, 1) 0%,
              rgba(213, 215, 223, 1) 50%,
              rgba(249, 250, 251, 1) 100%
            );
            background: -webkit-linear-gradient(
              left,
              rgba(249, 250, 251, 1) 0%,
              rgba(213, 215, 223, 1) 50%,
              rgba(249, 250, 251, 1) 100%
            );
            background: linear-gradient(
              to right,
              rgba(249, 250, 251, 1) 0%,
              rgba(213, 215, 223, 1) 50%,
              rgba(249, 250, 251, 1) 100%
            );
          }

          p {
            margin-top: 0;
            font-size: 16px;
            font-weight: 600;
            color: #0f2454;
          }
        }
        .clear_button_section {
          button {
            background-color: #fff;
            border: none;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 550;
            color: #0f2454;
            padding: 0 0 5vw 1vw;
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
}

.toggle_filter_button {
  display: none;
  font-family: inherit;
  button {
    display: flex;
    border: none;
    background: #e1f0ee;
    font-size: 14px;
    color: #0f2454;
    font-family: inherit;
  }
}
.selected-options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .selected-option {
    display: flex;
    align-items: baseline;
    padding: 5px;
    background-color: #e1f0ee;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
    i{
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 767px) {
  .no-scroll {
    overflow: hidden;
  }
  .toggle_filter_button {
    display: block;
    button {
      border-radius: 20px;
      padding: 8px 10px;
      border: 0.5px solid #d5d7df;
    }
  }
  .filter_overlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-out;
    z-index: 999;
    &.show {
      display: block;
      right: 0;
    }
  }
  .filter_container {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease-out;
    z-index: 99999999;
    &.show {
      right: 0;
    }
    &_section {
      &_heading {
        padding: 3vw 20vw 3vw 3vw;
        display: flex;
        justify-content: space-between;
        span {
          font-size: 20px;
          svg {
            display: none;
          }
          .fa-xmark {
            display: block;
            position: absolute;
            top: 10px;
            right: 20px;
          }
        }
      }
      form {
        .form_content {
          &_ac_section {
            padding: 2vw;
            p {
              font-size: 18px;
            }
          }

          &_sleeper_section {
            padding: 2vw;
            p {
              font-size: 18px;
            }
          }

          .clear_button_section {
            button {
              font-size: 15px;
              padding: 0 0 10vw 3vw;
            }
          }
        }
      }
    }
  }
}
