.ag-format-container {
  width: 90%;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10980392156862745);
  overflow: hidden;
  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #fff;
  overflow: hidden;
  text-decoration: none;
  position: relative;
  p{
    color: gray;
  }
  h3{
    color: #0f2454;
  }

}
// .ag-courses-item_link:hover,
// .ag-courses-item_link:hover{
//   text-decoration: none;
//   color: #fff !important;
//   .fa-solid{
//     color: #0f2454 !important;
//   }
//   P{
//     color: #fff;
//   }
//   h3{
//     color: #fff;
//   }
// // }
// .ag-courses-item_link:hover .ag-courses-item_bg {
//   -webkit-transform: scale(10);
//   -ms-transform: scale(10);
//   transform: scale(10);
// }
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  z-index: 2;
  position: relative;
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}
@media only screen and (max-width: 480px) {
  .ag-courses_box {
    flex-direction: column;
    align-items: center;
    .ag-courses_item {
      width: 90%;
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .ag-courses_box {
    flex-direction: column;
    align-items: center;
    .ag-courses_item {
      width: 80%;
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .ag-courses_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
    justify-items: center;
    align-items: center; 
  }
}