.checkout_container {
  width: 80%;
  padding-top: 3vw;
  &_section {
    display: flex;
    justify-content: center;
    align-items: center;
    &_booking_summary {
      border: 1.2px solid #eeeeee;
      border-radius: 10px;
      padding: 10px;
      width: 50%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      margin-right: 10px;
      height: 38vh;

      .title {
        color: #0f7bab;
        font-size: 18px;
        font-weight: 600;
        margin: 5px;
      }
      .line {
        border-bottom: 1.2px solid #17a2b8;
        width: 100%;
        padding-bottom: 4px;
        margin: 0;
      }
      .vehicle_info {
        display: flex;
        align-items: center;
        img {
          padding-top: 1vw;
          width: 65%;
        }
        &_left {
          width: 35%;
          p {
            color: #0f2454;
            font-size: 16px;
            font-weight: 600;
          }
        }
        &_right {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 60%;
          .start-date,
          .arrow-mark,
          .end-date {
            width: 40%;
            color: #0f7bab;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            span {
              color: #0f2454;
            }
          }
        }
      }
    }
    &_payment_summary {
      border: 1.2px solid #eeeeee;
      border-radius: 10px;
      padding: 10px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      width: 20%;
      height: 38vh;
      .title {
        color: #0f7bab;
        font-size: 18px;
        font-weight: 600;
        margin: 5px;
      }
      .line {
        border-bottom: 1.2px solid #17a2b8;
        width: 100%;
        padding-bottom: 4px;
        margin: 0;
      }
      .total-amount,
      .advance-amount,
      .remaining-amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .left {
        color: #0f2454;
      }
      .right {
        color: gray;
      }
      .proceed-to-payment {
        text-align: center;
        button {
          background-color: #17a2b8;
          color: #fff;
          font-weight: 400;
          border: 1px solid transparent;
          padding: 0.3rem 0.75rem;
          font-size: 16px;
          line-height: 1.5;
          border-radius: 5px;
          width: 75%;
          margin-bottom: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .checkout_container {
    width: 90%;
    &_section {
      flex-direction: column;
      &_booking_summary {
        width: 90%;
        margin-right: 0px;
        margin-bottom: 10px;
        height: 30vh;
        .vehicle_info {
          flex-direction: column;
          img {
            padding-top: 1vw;
            width: 45%;
          }
          &_left {
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              font-size: 12px;
              text-align: right;
            }
          }
          &_right {
            width: 95%;
          }
        }
      }
      &_payment_summary {
        width: 90%;
        height: 30vh;
        .title {
          font-size: 16px;
        }
        .left,
        .right {
          margin: 10px;
        }
      }
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .checkout_container {
    width: 90%;
    &_section {
      flex-direction: column;
      &_booking_summary {
        width: 90%;
        margin-right: 0px;
        margin-bottom: 10px;
        height: 30vh;
        .vehicle_info {
          flex-direction: column;
          img {
            padding-top: 1vw;
            width: 28%;
          }
          &_left {
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              font-size: 12px;
              text-align: right;
            }
          }
          &_right {
            width: 95%;
          }
        }
      }
      &_payment_summary {
        width: 90%;
        height: 30vh;
        .title {
          font-size: 16px;
        }
        .left,
        .right {
          margin: 10px;
        }
      }
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 1150px) {
    .checkout_container {
        width: 90%;
        &_section {
          &_booking_summary {
            height: 30vh;
          }
          &_payment_summary {
            width: 30%;
            height: 30vh;
            .left,.right {
              margin: 10px;
            }
           
          }
        }
      }
}