.checkout-container {
    width: 90%;
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 90vh;
    margin: 0;
    background-clip: padding-box;
    border-radius: 0.3rem;

    .checkout-body {
        display: flex;
    }

    .booking-summary {
        border: 1.2px solid #eeeeee;
        height: 40vh;
        width: 90vh;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0.5rem;
    }

    .title {
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 600;
        color: #17a2b8;
        font-family: Georgia, serif;
    }

    .line {
        border-bottom: 1.2px solid #17a2b8;
        width: 100%;
        padding-bottom: 4px;
        margin: 0;
    }

    .bus-image {
        width: 25vh;
        height: 20vh;
        margin-top: 25px;
    }

    .vehicle-info {
        display: flex;
    }

    .start-date {
        font-family: Georgia, serif;
        // margin-right: 50px;
        margin-left: 35px;
        margin-top: 35px;
        font-size: 15px;
        color: #A8A8A8;
    }

    .date {
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        color: black;
    }

    .end-date {
        font-family: Georgia, serif;
        margin-top: 35px;
        font-size: 15px;
        color: #A8A8A8;
    }

    .arrow-mark {
        margin-top: 35px;
        // text-align: center;
        color: #17a2b8;
        margin-right: 100px;
        margin-left: 60px;
        margin-right: 60px;
    }

    .bus-name {
        font-family: Georgia, serif;
        margin-left: 175px;
        margin-top: 70px;
        font-size: 14px;
        color: #A8A8A8;
    }

    .bus-type {
        font-family: Georgia, serif;
        margin-left: 175px;
        margin-top: -10px;
        font-size: 12px;
        color: black;
    }

    /* Payment Summary*/
    .checkout-right {
        display: flex;
        align-items: center;
    }

    .payment-summary {
        border: 1.2px solid #eeeeee;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        border-radius: 0.5rem;
    }

    .header {
        font-size: 14px;
        margin-bottom: 0;
        font-weight: 600;
        color: #17a2b8;
        font-family: Georgia, serif;
    }

    .line {
        border-bottom: 1.2px solid #eeeeee;
        width: 100%;
        padding-bottom: 4px;
        margin: 0;
    }

    .line-01 {
        border-bottom: 0.5px solid #eeeeee;
        width: 66%;
        padding-bottom: 4px;
        margin: -60px 168px;
    }

    .base-amount {
        display: flex;
        gap: 130px;
        margin-bottom: -20px;
        font-size: 14px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    .tax {
        display: flex;
        flex-direction: row;
        gap: 189px;
        margin-bottom: -20px;
        font-size: 14px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    .service-charges {
        display: flex;
        flex-direction: row;
        gap: 115px;
        font-size: 14px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    .total-amount {
        display: flex;
        flex-direction: row;
        gap: 100px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        color: #17a2b8;
        font-weight: 500;
        font-size: 16px;
        margin-top: -12px;
    }

    .proceed-to-payment {
        text-align: center;
    }

    .checkout-button {
        background-color: #17a2b8;
        color: #fff;
        font-weight: 400;
        border: 1px solid transparent;
        padding: 0.3rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0rem;
        width: 90%;
        margin-bottom: 1rem;
    }
}