.aboutus {
  &_container {
    &_banner {
      height: 60vh;
      background: url(../../assets/images/aboutus.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: 6vw;
        -webkit-text-stroke: 0.5px #fff;
        background: -webkit-linear-gradient(#0f7bab 40%, #0f2454);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h3 {
        margin-top: -4.5vw;
        font-size: 2.3vw;
        color: #689ea1;
      }
      ul {
        margin-top: -2vw;
        list-style: none;
        display: flex;
        align-items: center;
        color: #fff;
        padding-inline-start: 0px;
        li {
          margin-left: 10px;
          font-weight: 600;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
    &_intro {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 7vw 0;
      &_section {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &_content {
          width: 50%;
          h5 {
            color: #0f7bab;
            text-align: start;
          }
          p {
            text-align: justify;
            line-height: 1.5;
            letter-spacing: 0px;
            color: #72716f;
          }
          .key_points {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: left;
            margin-left: -7vw;
          }
        }
        &_img {
          padding: 0 20px 20px 15px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 30px;
            right: 0;
            left: 45px;
            bottom: 0;
            background-color: #2095ae;
            z-index: -1;
          }
          &::after {
            content: "";
            width: 50%;
            position: absolute;
            top: -6%;
            bottom: 60%;
            left: -3%;
            background-image: url(../../assets/images/borderimg.png);
            background-repeat: repeat;
            z-index: -1;
          }
          img {
            position: relative;
            z-index: 2;
            background: transparent;
          }
        }
      }
    }
    &_values {
      display: flex;
      justify-content: center;
      background: #f4f6fa;
      padding: 2vw 0;

      &_section {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_mission {
          width: 33%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 10px;
          background-color: #fff;
          padding: 3vw;
          h4 {
            color: #0f7bab;
          }
          p {
            color: #0f2454;
            text-align: justify;
            letter-spacing: 0.5px;
            word-spacing: -1px;
            line-height: 1.5;
            hyphens: auto;
          }
        }
        &_vision {
          width: 33%;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 10px;
          background-color: #fff;
          padding: 3vw;
          h4 {
            color: #0f7bab;
          }
          p {
            color: #0f2454;
            text-align: justify;
            letter-spacing: 0.5px;
            word-spacing: -1px;
            line-height: 1.5;
            hyphens: auto;
          }
        }
      }
    }
    &_services {
      margin: 5vw 0;
      &_section {
        &_images {
          text-align: center;

          img {
            width: 225px;
            height: 30vh;
          }
          h1 {
            color: #0f2454;
            position: relative;
            display: inline-block;
          }

          // h1::after{
          //     display: inline-block;
          //     content: '';
          //     background-color: #0f7bab;
          //     width: 95%;
          //     padding: 5px;
          //     position: absolute;
          //     bottom: 2px;
          //     left: 0%;
          //     z-index: -1;
          // }
          .services_img {
            box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
              rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
          }
          &_one {
            margin-top: 3vw;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            h3 {
              color: #0f2454;
            }
          }
        }
      }
    }
    &_apart {
      margin: 10vw 0;
      &_section {
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        &_left {
          width: 53%;
          position: relative;
          #img12 {
            width: 80%;
            border-radius: 10px 10px 10px 10px;
          }
          #img13 {
            width: 42%;
            position: absolute;
            bottom: -8vw;
            right: 0;
            border-style: solid;
            border-width: 10px 10px 10px 10px;
            border-color: #fff;
            border-radius: 20px 20px 20px 20px;
          }
        }
        &_right {
          width: 40%;
          h2 {
            background: -webkit-linear-gradient(#0f7bab 40%, #0f2454);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: left;
          }
          p {
            text-align: justify;
            color: #72716f;
            line-height: 1.5;
            letter-spacing: 1;

            h4 {
              display: inline;
              color: #0f7bab;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .aboutus {
    &_container {
      &_banner {
        height: 40vh;
        h1 {
          font-size: 10vw;
        }
        h3 {
          margin-top: -6.5vw;
          font-size: 4.3vw;
        }
      }
      &_intro {
        margin: 3vw 0;
        &_section {
          flex-direction: column;
          &_content {
            width: 95%;
            h5 {
              font-size: 25px;
              margin: 20px 0;
            }

            .key_points {
              font-size: 11px;
              margin-left: 0;
            }
          }
          &_img {
            display: none;
          }
        }
      }
      &_values {
        margin-top: 15vw;
        background: none;
        &_section {
          width: 94%;
          flex-direction: column;
          margin-top: 5vw;
          &_mission {
            width: 90%;
          }
          &_vision {
            width: 90%;
            margin-top: 5vw;
          }
        }
      }
     

      &_apart {
        margin: 10vw 0;
        &_section {
          align-items: center;
          flex-direction: column-reverse;
          &_left {
            display: none;
          }
          &_right {
            width: 90%;
          }
        }
      }
    
    }
  
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .aboutus {
    &_container {
      &_banner {
        height: 40vh;
        h1 {
          font-size: 10vw;
        }
        h3 {
          margin-top: -6.5vw;
          font-size: 4.3vw;
        }
      }
      &_intro {
        margin: 3vw 0;
        &_section {
          flex-direction: column;
          &_content {
            width: 95%;
            h5 {
              font-size: 25px;
              margin: 20px 0;
            }

            .key_points {
              font-size: 15px;
              margin-left: 0;
            }
          }
          &_img {
            display: none;
          }
        }
      }
      &_values {
        margin-top: 15vw;

        &_section {
          width: 94%;
          flex-direction: column;
          margin-top: 5vw;
          &_mission {
            width: 90%;
          }
          &_vision {
            width: 90%;
            margin-top: 5vw;
          }
        }
      }

      &_apart {
        margin: 10vw 0;
        &_section {
          align-items: center;
          flex-direction: column-reverse;
          &_left {
            display: none;
          }
          &_right {
            width: 90%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .aboutus {
    &_container {
      &_banner {
        height: 50vh;
        h1 {
          font-size: 7vw;
        }
        h3 {
          margin-top: -5vw;
        }
      }
      &_intro {
        margin: 3vw 0;
        &_section {
          width: 95%;
          &_content {
            width: 70%;
            h5 {
              font-size: 25px;
            }

            .key_points {
              margin-left: 0vw;
            }
          }
          &_img {
            padding: 0 10px 10px 10px;

            img {
              width: 250px;
              height: 280px;
            }
          }
        }
      }
      &_values {
        &_section {
          width: 95%;

          &_mission {
            width: 45%;
            margin-right: 3vw;
          }
          &_vision {
            width: 45%;
          }
        }
      }

      &_apart {
        margin: 10vw 0;
        &_section {
          justify-content: space-evenly;
          align-items: start;
          &_left {
            width: 45%;
            #img12 {
              width: 90%;
            }
            #img13 {
              width: 52%;
              bottom: -2vw;
              right: 2vw;
            }
          }
          &_right {
            width: 50%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .aboutus {
    &_container {
      &_banner {
        height: 55vh;
      }
      &_intro {
        &_section {
          &_content {
            width: 60%;
            h5 {
              font-size: 25px;
            }
          }
        }
      }
      &_values {
        &_section {
          &_mission {
            width: 43%;
          }
          &_vision {
            width: 43%;
          }
        }
      }

      &_apart {
        &_section {
          &_left {
            width: 45%;
          }
          &_right {
            width: 40%;
            h2 {
              font-size: 30px;
            }
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
