.parent_container{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-bottom: 5vw;
   h1{
    color: #0f7bab;
}
   &_Styles{
    width: 60%;
    .slider_container{
        &_index{
            &_images{
             img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 70%;
             }
             h4{
                text-align: center;    
                }
            }
        }
        .slick-prev:before {
            content: '❰';
            font-size: 25px;
            line-height: 1;
            color: #fff;
            opacity: 1;
            margin-left: -2px;
        }
        .slick-next:before {
            content: '❱';
            font-size: 25px;
            line-height: 1;
            color: white;
            opacity: 1;
            margin-right: -2px;
        }
        .slick-prev {
            left: -30px;
            background-color: #0f7bab;
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            top: 35%;
            &:hover{
                background-color: #0f2454;
            }
        }
        
        .slick-next {
            right:-30px;
            background-color: #0f7bab;
            width: 30px;
            height: 30px;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            top: 35%;
            &:hover{
                background-color: #0f2454;
            }
        }
        .slick-dots {
            bottom: -15px;
        }
        .slick-dots li.slick-active button:before {
            opacity: 1;
            color: #0f7bab;
        }
        .slick-dots li button:before {
            color: #0f7bab;
        }
    }
   }
}