.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  margin-top: -0.9vw;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.card_banner {
  display: flex;
  justify-content: center;

  &_content {
    margin-top: -15.5vw;
  margin-bottom: 4vw;
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    border-radius: 10px;
    z-index: 1;

    &_one {
      text-align: center;
      padding-right: 4vw;
      border-right: 1px solid #72716f;
      .fa-2xl {
        color: #0f7bab;
        cursor: pointer;

        &:hover {
          transition: all 0.3s;
          color: #0f2454;
        }
      }
    }

    &_two {
      margin-left: -4vw;
      border-right: 1px solid #72716f;
      padding-right: 4vw;
      text-align: center;

      .fa-2xl {
        color: #0f7bab;

        &:hover {
          transition: all 0.3s;
          color: #0f2454;
        }
      }
    }

    &_three {
      margin-left: -4vw;
      border-right: 1px solid #72716f;
      padding-right: 4vw;
      text-align: center;

      .fa-2xl {
        color: #0f7bab;

        &:hover {
          transition: all 0.3s;
          color: #0f2454;
        }
      }
    }

    &_four {
      margin-left: -4vw;
      text-align: center;

      .fa-2xl {
        color: #0f7bab;

        &:hover {
          transition: all 0.3s;
          color: #0f2454;
        }
      }
    }
  }
}

.our_services {
  &_heading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1 {
      margin-bottom: -0.7vw;
      position: relative;
      display: inline-block;
    }

    // h1 span.underline::after {
    //   display: inline-block;
    //   content: "";
    //   background-color: #0f7bab;
    //   width: 38%;
    //   padding: 5px;
    //   position: absolute;
    //   bottom: 2px;
    //   left: 36%;
    //   z-index: -1;
    // }

    p {
      margin-top: 2vw;
      color: #72716f;
      width: 65%;
      text-align: center;
    }
  }

}

.aboutUs {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 5vw 0;

  &_container {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    &_content {
      h4 {
        color: #0f7bab;
      }

      .key_points {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
        margin-left: -7vw;
      }
    }

    &_image {
      position: relative;

      #img1 {
        width: 80%;
        border-radius: 10px 10px 10px 10px;
      }

      #img2 {
        width: 42%;
        position: absolute;
        top: 90px;
        right: 0;
        border-style: solid;
        border-width: 10px 10px 10px 10px;
        border-color: #fff;
        border-radius: 20px 20px 20px 20px;
      }
    }
  }
}

/* CSS */
.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}
.aboutus_container_services {
  margin: 5vw 0;
  &_section {
    &_images {
      text-align: center;
      img {
        width: 225px;
        height: 30vh;
      }
      h1 {
        color: #0f2454;
        position: relative;
        display: inline-block;
      }

      // h1::after {
      //   display: inline-block;
      //   content: "";
      //   background-color: #0f7bab;
      //   width: 95%;
      //   padding: 5px;
      //   position: absolute;
      //   bottom: 2px;
      //   left: 0%;
      //   z-index: -1;
      // }
      .services_img {
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
          rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
      }
      &_one {
        margin-top: 3vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        h3 {
          color: #0f2454;
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .card_banner {
    &_content {
      width: 75%;
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-gap: 20px;
      padding: 20px 40px;
      &_one {
        border-right: 1px solid #72716f;
        font-size: 14px;
        .fa-2xl {
          font-size: 1.5rem;
        }
      }

      &_two {
        border: none;
        padding-right: 0;
        font-size: 14px;

        .fa-2xl {
          font-size: 1.5rem;
        }
      }

      &_three {
        border-right: 1px solid #72716f;
        font-size: 14px;
        .fa-2xl {
          font-size: 1.5rem;
        }
      }

      &_four {
        font-size: 14px;
        .fa-2xl {
          font-size: 1.5rem;
        }
      }
    }
  }
  .our_services {
    margin-top: 3vw;
    &_heading {
      flex-direction: column;
      align-items: center;

      h4 {
        margin-bottom: 0vw;
      }

      h1 {
        margin-bottom: 0vw;
        font-size: 22px;
      }

      h1 span.underline::after {
        display: inline-block;
        content: "";
        background-color: #0f7bab;
        width: 38%;
        padding: 3px;
        position: absolute;
        bottom: 2px;
        left: 36%;
        z-index: -1;
      }

      p {
        width: 80%;
        text-align: justify;
      }
    }

   
  }

  .aboutUs {
    margin: 5vw 0;

    &_container {
      flex-direction: column-reverse;
      &_content {
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 12px;
          text-align: justify;
          color: #0f2454;
          line-height: 1.7;
        }
        .key_points {
          margin-left: 0vw;
          &_two {
            margin-left: 6px;
          }
        }
      }

      &_image {
        #img1 {
          width: 70%;
        }
        #img2 {
          width: 32%;
          top: 80px;
          right: 50px;
        }
      }
    }
  }
  .button-71 {
    font-size: 14px;
    padding: 8px 12px;
  }
  .aboutus_container_services {
    &_section {
      &_images {
        img {
          width: 255px !important;
          height: 40vh !important;
        }
        h1 {
          color: #0f2454;
          font-size: 25px !important;
        }

        // h1::after {
        //   content: "";
        //   width: 94% !important;
        //   padding: 3px !important;
        //   bottom: 2px !important;
        //   left: 2% !important;
        // }
        .services_img {
          margin-top: 5vw;
        }
        &_one {
          flex-direction: column;
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .card_banner {
    &_content {
      width: 75%;
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-gap: 20px;
      padding: 20px 40px;
      &_one {
        border-right: 1px solid #72716f;
        font-size: 14px;
        .fa-2xl {
          font-size: 1.5rem;
        }
      }

      &_two {
        border: none;
        padding-right: 0;
        font-size: 14px;

        .fa-2xl {
          font-size: 1.5rem;
        }
      }

      &_three {
        border-right: 1px solid #72716f;
        font-size: 14px;
        .fa-2xl {
          font-size: 1.5rem;
        }
      }

      &_four {
        font-size: 14px;
        .fa-2xl {
          font-size: 1.5rem;
        }
      }
    }
  }
  .our_services {
    margin-top: 5vw;

    &_heading {
      h1 {
        font-size: 25px;
      }

      h1 span.underline::after {
        padding: 3px;
      }

      p {
        width: 78%;
        font-size: 14px;
      }
    }

  }
  .aboutUs {
    margin: 5vw 0;

    &_container {
      flex-direction: column-reverse;
      &_content {
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 14px;
          text-align: justify;
          color: #0f2454;
          line-height: 1.7;
        }
        .key_points {
          margin-left: 0vw;
          justify-content: start;
          &_two {
            margin-left: 6px;
          }
        }
      }

      &_image {
        #img1 {
          width: 60%;
        }
        #img2 {
          width: 30%;
          top: 80px;
          right: 60px;
        }
      }
    }
  }
  .button-71 {
    font-size: 14px;
    padding: 8px 12px;
  }
  .aboutus_container_services {
    &_section {
      &_images {
        img {
          width: 255px !important;
          height: 40vh !important;
        }
        h1 {
          color: #0f2454;
          font-size: 25px !important;
        }

        // h1::after {
        //   content: "";
        //   width: 94% !important;
        //   padding: 3px !important;
        //   bottom: 2px !important;
        //   left: 2% !important;
        // }
        .services_img {
          margin-top: 5vw;
        }
        &_one {
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .card_banner {
    &_content {
      width: 87%;
      padding: 30px;

      &_one {
        padding-right: 2vw;
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }

      &_two {
        margin-left: 0;
        padding-right: 2vw;
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }

      &_three {
        margin-left: 0;
        padding-right: 2vw;
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }

      &_four {
        margin-left: 0;
        text-align: center;
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }

  .our_services {
    margin-top: 5vw;
    &_heading {
      h1 {
        font-size: 25px;
      }

      h1 span.underline::after {
        padding: 3px;
      }

      p {
        width: 80%;
      }
    }

  }

  .aboutUs {
    margin: 5vw 0;

    &_container {
      width: 95%;
      &_content {
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 14px;
          text-align: justify;
        }

        .key_points {
          margin-left: -2vw;
        }
      }

      &_image {
        text-align: center;
        #img1 {
          width: 60%;
        }

        #img2 {
          width: 32%;
          top: 70px;
        }
      }
    }
  }

  .button-71 {
    font-size: 16px;
    padding: 10px 14px;
  }
  .aboutus_container_services {
    &_section {
      &_images {
        img {
          width: 225px;
          height: 30vh;
        }
        h1 {
          font-size: 25px;
        }

        // h1::after {
        //   padding: 3px !important;
        //   left: 2% !important;
        //   z-index: -1;
        // }
        &_one {
          margin-top: 3vw;
          display: grid !important;
  grid-template-columns: auto auto !important;
  align-content: center !important ;
  gap: 40px 0px;
          h3 {
            color: #0f2454;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .card_banner {
    &_content {
      width: 85%;
      padding: 30px;

      &_one {
        padding-right: 2vw;
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }

      &_two {
        margin-left: 0;
        padding-right: 2vw;
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }

      &_three {
        margin-left: 0;
        padding-right: 2vw;
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }

      &_four {
        margin-left: 0;
        text-align: center;
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .aboutus_container_services {
    &_section {
      &_images {
        img {
          width: 170px !important;
          height: 20vh !important;
        }
        h1 {
          font-size: 35px;
        }

        // h1::after {
        //   padding: 3px !important;
        //   left: 2% !important;
        //   z-index: -1;
        // }
        &_one {
          margin-top: 3vw;
          h3 {
            color: #0f2454;
          }
        }
      }
    }
  }
}