/* .custom-modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.custom-modal-container.show {
    opacity: 1;
  }

.custom-modal {
    width: 350px;
    max-height: 190px;
    padding: 20px;
    background-color: whitesmoke;
    border: 2px solid gray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 1001;
}

.modal-content {
    text-align: center;
}

.confirmation-popup {
    text-align: center;
} */