.contact-form-area {
  .sec-title {
    position: relative;
    margin-bottom: 60px;
    text-align: center;
    .sub-title {
      background-color: #0f7bab;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 16px;
      font-weight: 700;
      text-transform: capitalize;
      letter-spacing: 1px;
      margin-bottom: 10px;
      margin-top: 5vw;
    }
    h2 {
      position: relative;
      display: block;
      font-size: 40px;
      line-height: 1.1em;
      font-weight: 700;
      text-transform: capitalize;
      background: -webkit-linear-gradient(#0f7bab 40%, #0f2454);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .contact-form {
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    form {
      .row {
        margin: 0 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .form-group {
          width: 45%;
          position: relative ;
          padding: 0 10px !important;
          margin-bottom: 20px;
          
          label {
            position: relative;
            margin-bottom: 15px;
            font-size: 16px;
            font-weight: 700;
            color: #0f2454;
          }
          input[type="text"],
          input[type="email"] {
            position: relative;
            display: block;
            width: 93%;
            font-size: 15px;
            color: #25283a;
            line-height: 30px;
            font-weight: 400;
            padding: 14px 20px;
            background-color: #f8f8f8;
            border: 1px solid #f8f8f8;
            transition: all 300ms ease;
            margin-top: 20px;
            outline: none;
          }
          i {
            position: absolute;
            right: 25px;
            top: 62px;
            font-size: 18px;
            background-color: #0f7bab;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .nameContact {
            padding-left: 20px !important;
          }
        }
      }
      label {
        position: relative;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 700;
      }
      textarea {
        overflow: hidden;
        height: 140px;
        resize: none;
        position: relative;
        display: block;
        width: 94.5%;
        font-size: 15px;
        color: #25283a;
        line-height: 30px;
        font-weight: 400;
        padding: 14px 20px;
        background-color: #f8f8f8;
        border: none;
        transition: all 300ms ease;
        margin-top: 20px;
        outline: none;
      }
      i {
        position: absolute;
        right: 57px;
        top: 62px;
        font-size: 18px;
        background-color: #0f7bab;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      button {
        color: white;
        border: none;
        display: block;
        z-index: 1;
        padding: 13px 20px;
        border-radius: 30px;
        background-image: linear-gradient(90deg, #3dd1e7 10%, #0f7bab 100%);
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .contact-form-area {
    .sec-title {
      margin-bottom: 30px;
      .sub-title {
        font-size: 14px;
        margin-top: 10vw;
      }
      h2 {
        font-size: 30px;
      }
    }
    .contact-form {
      form {
        .row {
          margin: 0;
          flex-direction: column;
          .form-group {
            width: 84%;
            input[type="text"],
            input[type="email"] {
              width: 98%;
              
            }
            
            i {
              right: 0px;
            }
          }
        }
        .col-md-12{
          padding-left: 10px !important;
        }
        textarea {
          width: 82.5%;
         
        }
        i {
          right: 16%;
        }
        button {
          padding: 10px 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .contact-form-area {
    .sec-title {
      margin-bottom: 30px;
      .sub-title {
        font-size: 14px;
        margin-top: 10vw;
      }
      h2 {
        font-size: 30px;
      }
    }
    .contact-form {
      form {
        .row {
          margin: 0;
          flex-direction: column;
          .form-group {
            width: 95%;
            i {
              right: 5%;
            }
          }
        }
        textarea {
          width: 88%;
        }
        i {
          right: 10%;
          top: 62px;
        }
        button {
          padding: 12px 25px;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .contact-form-area {
    .sec-title {
      h2 {
        font-size: 30px;
      }
    }
    .contact-form {
      form {
        .row {
          .form-group {
            width: 45%;
            input[type="text"],
            input[type="email"] {
              width: 87%;
            }
            i {
              right: 8%;
            }
          }
        }
        textarea {
          width: 90.5%;
        }
        i {
          right: 8%;
        }
        button {
          padding: 15px 35px;
        }
      }
    }
  }
}
@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .contact-form-area {
    .sec-title {
      h2 {
        font-size: 30px;
      }
    }
    .contact-form {
      form {
        .row {
          .form-group {
            width: 45%;
            input[type="text"],
            input[type="email"] {
              width: 93%;
            }
            i {
              right: 25px;
            }
          }
        }
        textarea {
          width: 94.5%;
        }
        i {
          right: 57px;
        }
        button {
          padding: 10px 15px;
        }
      }
    }
  }
}
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

button,
select {
  text-transform: none;
}
.form-group {
  margin-bottom: 0.8rem;
}
.form-control {
  width: 96.5%;
  height: calc(1.3em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="text" i] {
  padding-left: 10px !important;
  padding-right: -10px !important;
}

button,
input {
  overflow: visible;
}

input[type="text" i] {
  padding-block: 1px;
  padding-inline: 2px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
input,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
