.header{
    &_container{
        display: flex;
        justify-content: center;
        position: relative;
        nav{
        width: 90%;
        background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;    

            .logo{
                width: 15%;
                text-align: center;
                img{
                    width: 55%;
                    cursor: pointer;
                }
            }
            .nav_items{
                width: 60%;

                ul{
                    display: flex;
                    justify-content: space-around;
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: #0f2454;
                        font-weight: 700;
                        &:hover {
                            color: #0f7bab;
                        }
                    }
            }
            }
            
        }
    }
}