body {
  overflow-x: hidden;
  margin: 0;
}
nav {
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 99;
}
.header_container {
  display: flex;
  justify-content: center;
}
.fas {
  cursor: pointer;
}
.menu-icon {
  display: none;
  font-size: 25px;
  i {
    color: #0f7bab;
  }
}
.menu-icon .fa-times {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}
.menu-icon .fa-bars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}
.logo {
  display: none;
}
.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  li {
    margin: 0 2.2vw;
  }
}
.menu-list li:last-child {
  margin-right: -14vw;
}
.menu-list li a {
  text-decoration: none;
  padding: 5px 10px;
  margin-left: 20px;
  font-weight: 700;
  color: #0f2454;
}
.menu-list li a:hover,
.menu-list li a.active {
  background-color: #fff;
  border-radius: 2px;
  color: #0f7bab;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}
.hidecontact {
  display: none;
}
.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #0f7bab;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 15px;
  font-weight: 700;
  color: #0f7bab;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .hideimg {
    display: none;
  }
  .logo {
    display: block;
    margin-left: 4%;
  }
  nav {
    display: grid;
    grid-template-columns: 1fr 0fr;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .menu-icon {
    display: block;
    color: #000;
    margin-left: -100%;
  }
  .menu-list {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    right: 0;
    top: 48px;
    padding: 0 !important;
    padding-top: 5vw !important;
    transition: all 0.3s ease-in-out;
  }
  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  .menu-list li:nth-child(3) {
    margin-top: -5vw;
  }
  .menu-list li:last-child {
    margin: 0px !important;
    display: none;
  }
  .menu-list li a,
  .menu-list li:last-child a {
    width: 100px;
    display: block;
    margin: auto;
    color: white;
  }
  .menu-list.close {
    right: -101%;
    transition: none;
  }
  .button-89 {
    display: none;
  }
  .hidecontact {
    display: block;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .menu-list {
    padding: 0 !important;

    li {
      margin: 0 1.5vw;
      font-size: 12px;
      img {
        height: 75px;
      }
    }
  }

  .menu-list li:last-child {
    margin-right: -20vw;
  }

  .menu-list li a {
    padding: 5px 8px;
    margin-left: 0px;
  }
  .button-89 {
    --b: 1px;
    --s: 0.2em;
    padding: 10px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .menu-list {
    margin: 1vw 0 !important;
    padding: 0 !important;
    li {
      margin: 0 2.5vw;
    }
  }
  .hideimg {
    margin-right: -1.5vw;
  }
  .menu-list li:last-child {
    margin-right: -15vw;
    margin-left: -2vw;
  }
  .menu-list li:nth-child(5) {
    margin-left: -10px;
  }

  .menu-list li a {
    padding: 5px 5px;
    margin-left: 20px;
  }
}
