footer {
    margin-top: 3vw;
    background-color: #062a46;
    position: relative;
  
  
    .star1 {
      position: absolute;
      top: 10vh;
      left: 7vw;
    }
    .star2 {
      position: absolute;
      bottom: 8vh;
      right: 7vw;
    }
    .footer_pic {
      & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 35px 0 20px;
      }
    }
    .footer_content_width {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #7a7a7a;
      
      & .footer_content {
        width: 55%;
        color: var(--text, #7a7a7a);
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.28px;
      }
    }
    .footer_line img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 10px;
    }
    .footer_container {
      display: flex;
      justify-content: center;
      align-items: center;
      &__ {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 15vh;
      }
      &_left {
        width: 34%;
        margin-left: 1px;
        &_corporates {
          margin-bottom: 7vh;
          p {
            color: var(--white, #fff);
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.28px;
            opacity: 0.5699999928474426;
            margin-left: 40px;
            margin-top: 1vh;
          }
          span {
            margin-left: 10px;
            color: var(--white, #fff);
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 140% */
            letter-spacing: 0.4px;
          }
        }
        &_email {
          margin-bottom: 7vh;
          p {
            color: var(--white, #fff);
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.28px;
            opacity: 0.5699999928474426;
            margin-left: 40px;
            margin-top: 1vh;
          }
          span {
            color: var(--white, #fff);
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 140% */
            letter-spacing: 0.4px;
            margin-left: 10px !important;
            
          }
        }
        &_number {
          p {
            color: var(--white, #fff);
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.28px;
            opacity: 0.5699999928474426;
            margin-left: 40px;
            margin-top: 1vh;
          }
          span {
            color: var(--white, #fff);
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 140% */
            letter-spacing: 0.4px;
            margin-left: 10px;
          }
        }
      }
      &_right {
        width: 30%;
        display: flex;
        justify-content: space-between;
        margin-top: -2vw;
        &_one {
          &_services {
            margin-bottom: 8vh;
            #heading {
              color: var(--white, #fff);
              font-family: "Poppins", sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px; /* 140% */
              letter-spacing: 0.4px;
              opacity: 1;
            }
            p {
              color: var(--white, #fff);
              font-family: "Poppins", sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 171.429% */
              letter-spacing: 0.28px;
              opacity: 0.5699999928474426;
              text-align: left;
            }
          }
          &_media {
            margin-left: 2vw;
            #heading {
              color: var(--white, #fff);
              font-family: "Poppins", sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 600;
              line-height: 28px; /* 140% */
              letter-spacing: 0.4px;
              opacity: 1;
            }
            span {
              img {
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.2);
                padding: 10px;
                margin-right: 17px;
              }
            }
          }
        }
        &_technologies {
          #heading {
            color: var(--white, #fff);
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 140% */
            letter-spacing: 0.4px;
            opacity: 1;
          }
          p {
            color: var(--white, #fff);
            font-family: "Poppins", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.28px;
            opacity: 0.5699999928474426;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 480px) {
    footer {
      .star1,.star2{
        display: none;
      }
      .footer_pic {
        & img{
          width: 42%;
          padding: 10px 0 5px;
        }
      }
      .footer_content_width {
        & .footer_content {
          width: 85%;
          text-align:justify;
        }
      }
      .footer_line img {
        width: 40%;
        padding-top: 5px;
  
      }
      .footer_container {
        &__ {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 5vh;
          margin-bottom: 4vh;
        }
        &_left {
          width: 95%;
          &_corporates {
            margin-bottom: 2vh;
            p{
              margin-top: 0.5 vh;
  
            }
          }
          &_email {
            margin-bottom: 2vh;
            width: 90%;
            &_corporates {
              margin-bottom: 2vh;
              p{
                margin-top: 0.5 vh;
    
              }
            }
          }
          &_number {
            margin-bottom: 2vh;
            width: 90%;
            &_corporates {
              margin-bottom: 2vh;
              p{
                margin-top: 0.5 vh;
    
              }
            }
          }
        }
       
        &_right {
          width: 76%;
          &_one {
            &_services {
              margin-bottom: 2vh;
            }
            &_media {
              #heading {
              font-size: 16px;
              }
              span{
                img{
                  border-radius: 5px;
                  padding: 5px;
                margin-right: 10px;
                }
              }
            }
          }
        }
  
      }
    }
  }
  @media only screen and (min-width: 481px)and (max-width: 767px) {
    footer {
      .star1,.star2{
        display: none;
      }
      .footer_pic {
        & img{
          width: 42%;
          padding: 10px 0 5px;
        }
      }
      .footer_content_width {
        & .footer_content {
          width: 85%;
          text-align:justify;
        }
      }
      .footer_line img {
        width: 40%;
        padding-top: 5px;
  
      }
      .footer_container {
        &__ {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 5vh;
          margin-bottom: 4vh;
        }
        &_left {
          width: 95%;
          &_corporates {
            margin-bottom: 2vh;
            p{
              margin-top: 0.5 vh;
  
            }
          }
          &_email {
            margin-bottom: 2vh;
            width: 90%;
            &_corporates {
              margin-bottom: 2vh;
              p{
                margin-top: 0.5 vh;
    
              }
            }
          }
          &_number {
            margin-bottom: 2vh;
            width: 90%;
            &_corporates {
              margin-bottom: 2vh;
              p{
                margin-top: 0.5 vh;
    
              }
            }
          }
        }
       
        &_right {
          width: 84%;
          display: flex;
          justify-content: space-between;
                    &_one {
            &_services {
              margin-bottom: 2vh;
            }
            &_media {
              #heading {
              font-size: 18px;
              }
              span{
                img{
                  border-radius: 10px;
                  padding: 8px;
                margin-right: 10px;
                }
              }
            }
          }
        }
  
      }
    }
  }
  @media only screen and (min-width:767px)and (max-width:1024px) {
    footer {
      .star1{
        top: 6vh;
        left: 7vw;
      }
     
      .footer_content_width {
        & .footer_content {
          width: 86%;
          text-align:center;
        }
      }
      .footer_line img {
        padding-top: 8px;
  
      }
      .footer_container {
        &__ {
          margin-top: 5vh;
          margin-bottom: 4vh;
        }
        &_left {
          width: 40%;
          &_corporates {
            margin-bottom: 4vh;
            p{
              margin-top: 0.5 vh;
  
            }
          }
          &_email {
            margin-bottom: 4vh;
            &_corporates {
              margin-bottom: 4vh;
              
            }
          }
          &_number {
            margin-bottom: 2vh;
            &_corporates {
              margin-bottom: 2vh;
              p{
                margin-top: 0.5 vh;
    
              }
            }
          }
        }
       
        &_right {
          width: 40%;
          display: flex;
          justify-content: space-between;
                    &_one {
            &_services {
              margin-bottom: 4vh;
            }
            &_media {
              #heading {
              font-size: 18px;
              }
              span{
                img{
                  border-radius: 10px;
                  padding: 5px;
                margin-right: 6px;
                }
              }
            }
          }
        }
  
      }
    }
  }
  @media only screen and (min-width: 1024px)and (max-width: 1279px) {
    footer {
      .star1{
        top: 6vh;
        left: 7vw;
      }
     
      .footer_content_width {
        & .footer_content {
          width: 78%;
          text-align:center;
        }
      }
      .footer_line img {
        padding-top: 8px;
  
      }
      .footer_container {
        &__ {
          margin-top: 5vh;
          margin-bottom: 4vh;
        }
        &_left {
          &_corporates {
            margin-bottom: 4vh;
            p{
              margin-top: 0.5 vh;
  
            }
          }
          &_email {
            margin-bottom: 4vh;
            &_corporates {
              margin-bottom: 4vh;
              
            }
          }
          &_number {
            margin-bottom: 2vh;
            &_corporates {
              margin-bottom: 2vh;
              p{
                margin-top: 0.5 vh;
    
              }
            }
          }
        }
       
        &_right {
          display: flex;
          justify-content: space-between;
                    &_one {
            &_services {
              margin-bottom: 4vh;
            }
            &_media {
              
              span{
                img{
                  border-radius: 10px;
                  padding: 5px;
                margin-right: 5px;
                }
              }
            }
          }
        }
  
      }
    }
  }