.upcoming,
.past {
  color: #0f7bab;
}
.thead {
  font-weight: 600 !important;
  box-shadow: none !important;
  color: #0f2454 !important;
  border: 1px solid #ddd !important;
}
.booking_details_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.booking_details_container_header {
  width: 98%;
  .MuiTableContainer-root {
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
  }
  h1 {
    color: #0f2454;
    background: -webkit-linear-gradient(#0f7bab 40%, #0f2454);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.MuiTableRow-root {
  border: 1px solid #ddd !important;
  &:nth-of-type(odd) {
    background-color: rgb(249, 249, 249) !important;
  }
}
.MuiTableCell-root {
  border: 1px solid #ddd !important;
  padding: 8px !important;
  text-align: center;
}
.bookingDetails_popup {
  &_container {
    padding: 3% 5%;
    &_section {
      &_heading {
        &_items {
          display: flex;
          justify-content: space-around;
          align-items: center;
          .heading_items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              background: -webkit-linear-gradient(#0f7bab 40%, #0f2454);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              font-weight: 600;
            }
          }
          .closeIcon {
           cursor: pointer;
          }
        }
      }
      &_content {
        &_items {
          &_both {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &_user {
              width: 50%;
              margin-right: 3vw;
              .icon {
                display: flex;
                align-items: center;
                color: #0f7bab;
              }
              .details {
                p {
                  margin-top: 0;
                  color: #0f2454;
                  span{
                    color: #9DB4C0;
                  }
                }
                
              }
            }
            &_vehicle {
              width: 50%;
              .icon {
                display: flex;
                align-items: center;
                color: #0f7bab;
              }
              .details {
                p {
                  margin-top: 0;
                  color: #0f2454;
                  span{
                    color: #9DB4C0;
                  }
                }
                
              }
            }
          }
          &_booking{
            .icon {
              display: flex;
              align-items: center;
              color: #0f7bab;
              justify-content: center;
            }
            .details {
              display: flex;
              justify-content: space-between;
              align-items: center;
              p {
                margin-top: 0;
                color: #0f2454;
                span{
                  color: #9DB4C0;
                }
              }
              
            }
          }
        }
      }
    }
  }
}
