.upcoming,.past{
    color: #0f7bab;
}
.thead{
    background-color: #0f7bab !important;
}
.booking_container_banner{
    // background: url(../../../assets/images/booking_info_banner.jpg);
    background-position: center;
}
.header{
    h1{
        color: #0f2454;
        text-align: center;
    }
}