.container {
    padding: 2rem 0rem;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
    }

    .modal-dialog .modal-content {
        padding: 1rem;
    }
}

.modal-header .close {
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

.send-otp-button {
    margin-bottom: 15px;
    margin-right: 240px;
    margin-top: -3px;
    background-color: #0f7bab;
    width: 45%;
    margin-left: 185px;
}

.custom-icon-color {
    background-color: #0f7bab;
}

.verify-otp-button:hover {
    background-color: #0f2454;
}

.custom-icon-color:hover {
    background-color: #0f2454;
}

.submit-button:hover {
    background-color: #0f2454;
}

.send-otp-button:hover {
    background-color: #0f2454;

}

.verify-otp-button {
    margin-top: 15px;
    background-color: #0f7bab;

}

.submit-button {
    background-color: #0f7bab;
}

.form-name {
    display: flex;
}

.name {
    margin-right: 10px;

}

.flex-for-button {
    display: flex;
}

.flex-button {
    margin-right: 10px;
}

.otp-text-box {
    width: 100%;
}

.popup-content {
    animation: popup 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    animation-fill-mode: both;
    transform: scale(0.8);
    opacity: 0;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.button-container {
    display: flex;
    align-items: center;
}

.resend-otp-button {
    margin-left: 10px;
    margin-bottom: -7px;
    background-color: #0f7bab;
}

.resend-otp-button:hover {
    background-color: #0f2454;
}

.clear-button {
    background-color: #0f7bab;
}

.clear-button:hover {
    background-color: #0f2454;
}


.error-border {
    border: 1.5px solid rgb(230, 43, 43);
}

.has-error {
    margin-bottom: 15px;

}

.error-message {
    color: rgb(230, 43, 43);
    left: -10px;
    transform: translateY(-50%);
    display: flex;
    top: calc(100% + 5px);
    align-items: center;
    margin-top: 10px;
}

.error-icon {
    margin-right: 5px;
}

.country-code {
    margin-right: 4px;
}

.select-custom{
    margin-right: 4px;
    border: 1px solid #ced4da;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}





