.booking-info {
  .booking-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin-right: -12vw;

    .form {
      margin-left: 20px;
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .header-custom {
        .header {
          font-size: 30px;
          text-transform: uppercase;
          color: #0f7bab;
          font-weight: 600;
          background: -webkit-linear-gradient(#0f7bab 40%, #0f2454);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .booking-id {
        .input-booking-id {
          margin-top: 5px;
          width: 120%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .input-booking-id:focus {
          color: #495057;
          background-color: #fff;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }

      .phone {
        margin-top: 5px;

        .input-phone {
          width: 120%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .input-phone:focus {
          color: #495057;
          background-color: #fff;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }

      .send-otp {
        text-align: left;

        .button-send-otp {
          margin-top: 5px;
          width: 50%;
          height: 35px;
          font-size: 16px;
          background-color: #0f7bab;
          color: white;
          border: none;
          border-radius: 2px;
          cursor: pointer;
        }
      }

      .otp {
        padding: 0 !important;

        .input-otp {
          margin-top: 5px;
          width: 125%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .input-otp:focus {
          color: #495057;
          background-color: #fff;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }

      .verify-resend {
        .verify-resend-01 {
          .verify {
            margin-left: 20%;
            margin-top: 5px;
            width: 35%;
            font-size: 16px;
            background-color: #0f7bab;
            color: white;
            border: none;
            border-radius: 2px;
            text-align: center;
            cursor: pointer;
            height: 35px;
          }

          .resend {
            margin-top: 5px;
            margin-left: 15px;
            width: 35%;
            font-size: 16px;
            background-color: #0f7bab;
            color: white;
            border: none;
            border-radius: 2px;
            text-align: center;
            cursor: pointer;
            height: 35px;
          }
        }
      }

      .show-details {
        .show-details-01 {
          text-align: center;
          display: flex;
          align-items: center;
          text-decoration: none;

          .button-show-details {
            margin-left: 25%;
            margin-top: 5px;
            width: 105%;
            height: 35px;
            font-size: 16px;
            background-color: #0f7bab;
            color: white;
            border: none;
            border-radius: 2px;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }

    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .image-class {
        margin-top: 50px;
        width: 55%;
        height: auto;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .booking-info {
    align-items: center;

    .booking-info-container {
      flex-direction: column;
      background-color: #a2e0fd;
      padding: 0px;
      border-radius: 0;
      margin-right: 0;

      .form {
        margin-left: 0px;

        .header-custom {
          .header {
            font-size: 35px;
            font-weight: 500;
          }
        }

        .booking-id {
          .input-booking-id {
            margin-top: 0px;
            width: 100%;
            font-size: 16px;
          }
        }

        .phone {
          margin-top: 10px;

          .input-phone {
            width: 100%;
          }
        }

        .send-otp {
          .button-send-otp {
            width: 30%;
          }
        }

        .otp {
          padding: 0 !important;
          text-align: justify;

          .input-otp {
            width: 103%;
          }
        }

        .verify-resend {
          .verify-resend-01 {
            .verify {
              margin-left: 16%;
            }
          }
        }

        .show-details {
          .show-details-01 {
            .anchor-custom {
              .button-show-details {
                margin-left: 35%;
                width: 40%;
              }
            }
          }
        }
      }

      .image-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .image-class {
          margin-top: 50px;
          width: 55%;
          height: auto;
          mix-blend-mode: multiply;
        }
      }
    }
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .booking-info {
    align-items: center;
    display: block !important;

    .booking-info-container {
      flex-direction: column;
      padding: 0px;
      background-color: #a2e0fd;
      border-radius: 0;
      margin-right: 0;

      .form {
        margin-left: 0px;

        .header-custom {
          .header {
            font-size: 35px;
            font-weight: 500;
          }
        }

        .booking-id {
          .input-booking-id {
            margin-top: 0px;
            width: 100%;
            font-size: 16px;
          }
        }

        .phone {
          margin-top: 10px;

          .input-phone {
            width: 100%;
          }
        }

        .send-otp {
          .button-send-otp {
            width: 30%;
          }
        }

        .otp {
          padding: 0 !important;
          text-align: justify;

          .input-otp {
            width: 103%;
          }
        }

        .verify-resend {
          .verify-resend-01 {
            .verify {
              margin-left: 16%;
            }
          }
        }

        .show-details {
          .show-details-01 {
            .anchor-custom {
              .button-show-details {
                margin-left: 35%;
                width: 40%;
              }
            }
          }
        }
      }

      .image-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .image-class {
          margin-top: 50px;
          width: 55%;
          height: auto;
          mix-blend-mode: multiply;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .booking-info {
    align-items: center;
    display: block !important;

    .booking-info-container {
      flex-direction: column;
      padding: 0px;
      background-color: #a2e0fd;
      border-radius: 0;
      margin-right: 0;

      .form {
        margin-left: 0px;

        .header-custom {
          .header {
            font-size: 35px;
            font-weight: 500;
          }
        }

        .booking-id {
          .input-booking-id {
            margin-top: 0px;
            width: 100%;
            font-size: 16px;
          }
        }

        .phone {
          margin-top: 10px;

          .input-phone {
            width: 100%;
          }
        }

        .send-otp {
          .button-send-otp {
            width: 30%;
          }
        }

        .otp {
          padding: 0 !important;
          text-align: justify;

          .input-otp {
            width: 103%;
          }
        }

        .verify-resend {
          .verify-resend-01 {
            .verify {
              margin-left: 16%;
            }
          }
        }

        .show-details {
          .show-details-01 {
            .anchor-custom {
              .button-show-details {
                margin-left: 35%;
                width: 40%;
              }
            }
          }
        }
      }

      .image-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .image-class {
          margin-top: 50px;
          width: 55%;
          height: auto;
          mix-blend-mode: multiply;
        }
      }
    }
  }
}
